<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header class="header-container">
        <h1>Contact Information</h1>
        <%- include('./partials/nav.ejs') %>
    </header>
    <main>
    <div class="contact-info">
        <p><span>Email:</span> ivanovtony00@gmail.com</p>
        <p><span>Github:</span> <a href="https://github.com/tony0808" target="_blank">github.com/tony0808</a></p>
    </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>