/* Set global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Set the height of the html and body elements to 100% */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column; /* Set the flex-direction of the body to column */
}

/* Style the header */
.header-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  font-size: 32px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Style the main content */
.main-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* Set the flex-grow of the main container to 1 */
}

.main-container h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main-container p {
  line-height: 1.5;
}

/* Style the footer */
.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Set the margin-top of the footer to auto */
}

/* playlists main container styles */
#manage-playlists-main {
  padding: 20px;
}

#manage-playlists-main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

#manage-playlists-main ul {
  list-style: none;
  display: flex;
}

#manage-playlists-main li {
  margin-right: 20px;
}

#manage-playlists-main button {
  border: none;
  background-color: transparent;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

#manage-playlists-main button:hover {
  text-decoration: underline;
}

/* Styles for the playlist container and each playlist element */
.playlist-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.playlist-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.playlist-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.playlist-id {
  font-size: 14px;
  margin: 0;
  color: #757373;
}

.playlist-description {
  font-size: 16px;
  margin-top: 10px;
  color: #333;
}

.playlist-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.playlist-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.playlist-info:hover {
  background-color: #cccbcb;
}


/* tracks main container styles */
#manage-tracks-main {
  padding: 20px;
}

#manage-tracks-main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

#manage-tracks-main ul {
  list-style: none;
  display: flex;
}

#manage-tracks-main li {
  margin-right: 20px;
}

#manage-tracks-main button {
  border: none;
  background-color: transparent;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

#manage-tracks-main button:hover {
  text-decoration: underline;
}

/* Contact info styles */
.contact-info {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.contact-info p {
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
}

.contact-info p span {
  font-weight: bold;
}

.contact-info a {
  color: #0077b5;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* track id form styles*/
#track-id-form, #playlist-id-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

#track-id-form label, #playlist-id-form label {
  margin-bottom: 10px;
}

#track-id-form input[type="text"], #playlist-id-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#track-id-form button[type="submit"], #playlist-id-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#track-id-form button[type="submit"]:hover, #playlist-id-form button[type="submit"]:hover {
  background-color: #45a049;
}

/* track genres list style */
.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 10px 0 0 0; /* add 10px padding at the top */
  list-style-type: none;
}

.genre-item {
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
}

.genre-item:hover {
  background-color: #d9d9d9;
}

/* styles for table */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

thead th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

tbody td {
  border: 1px solid #ddd;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e6e6e6;
}
