<nav>
    <ul>
        <li><a href="/app/home">Home</a></li>
        <li><a href="/app/playlists/all">All Playlists</a></li>
        <li><a href="/app/tracks/count">Count Tracks</a></li>
        <li><a href="/app/logout">Logout</a></li>
    </ul>
</nav>