<nav>
    <ul>
        <li><a href="/app/home">Home</a></li>
        <li><a href="/app/playlists/manage">Manage My Playlists</a></li>
        <li><a href="/app/tracks/manage">Manage My Tracks</a></li>
        <li><a href="">General</a></li>
        <li><a href="/app/logout">Logout</a></li>
    </ul>
</nav>