<nav>
    <ul>
        <li><a href="/app/home">Home</a></li>
        <li><a href="/app/playlists/manage">Manage Playlists</a></li>
        <li><a href="/app/tracks/manage">Manage Tracks</a></li>
        <li><a href="/app/logout">Logout</a></li>
    </ul>
</nav>