<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <header class="header-container">
        <h1>Manage Playlists</h1>
        <%- include('../partials/nav.ejs') %>
    </header>
    <main id="manage-playlists-main">
        <nav>
          <ul>
            <li><button type="button" id="playlist_btn_1" onclick="getPlaylistCount(this.id)">Count My Playlist</button></li>
            <li><button type="button" id="playlist_btn_2" onclick="getPlaylistsList(this.id)">List My Playlists</button></li>
            <li><button type="button" id="playlist_btn_3" onclick="gePlaylistIdTrackForm(this.id)">List My Playlist's Tracks</button></li>
            <li><button type="button" id="playlist_btn_4" onclick="gePlaylistIdGenreForm(this.id)">List My Playlist's Genres</button></li>
          </ul>
        </nav>
        <div id="playlist-response-div">
          
        </div>
    </main>      
    <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="/scripts.js"></script>
</body>
</html>