<form id="playlist-id-form">
    <label for="playlist-id">Playlist ID:</label>
    <input type="text" id="playlist-id" name="playlist_id">
    <br>
    <button type="submit" onclick="getPlaylistGenres()">Submit</button>
</form>
  