<div class="container">
    <form id="track-id-form">
      <div class="form-group">
        <label for="track-id">Playlist ID:</label>
        <button type="button" id="copy-button" onclick="pasteTextFromClipboard('track-id')">
          <img src="/pics/copy.png" alt="Copy" width="15" height="15">
        </button>
      </div>
      <input type="text" id="track-id" name="track_id">
      <br>
      <button type="submit" onclick="getTrackGenres()">Submit</button>
    </form>
  </div>