<form id="track-id-form">
    <label for="track-id">Track ID:</label>
    <input type="text" id="track-id" name="track_id">
    <br>
    <button type="submit" onclick="getTrackGenres()">Submit</button>
</form>
  